.nav {
  width: 100%;
}

.list {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0 4px;
}

.item {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.link:hover {
  opacity: 0.6;
}