@import "./breakpoints.css";

.main {
  padding: 0 24px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: var(--breakpoint-tablet)) {
  .main {
    padding: 0px 10px;
  }
}

@media (max-width: var(--breakpoint-mobile)) {
  .main {
    padding: 80px 10px;
  }
}