@import "../breakpoints.css";

.main {
  padding: 0 24px;
  background: var(--crit-orange);
}

.journal {}

@media (max-width: var(--breakpoint-mobile)) {
  .main {
    padding: 0 10px;
    padding-top: 72px;
  }
}