@import "../breakpoints.css";

.main {
  padding: 10px 24px 48px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.header {
  margin-bottom: 15px;
  display: flex;
  gap: 20px;
}

.heading {
  /* margin: 0 0 8px; */
}

.query {
  margin: 0;
}

.prompt {
  padding: 48px 0;
  margin: 0;
}

@media (max-width: var(--breakpoint-tablet)) {
  .main {
    padding: 10px 10px 48px;
  }
}

@media (max-width: var(--breakpoint-mobile)) {
  .main {
    padding: 10px 10px 48px;
  }

  .header {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.01em;
  }
}